<!-- Content Wrapper. Contains page content -->

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Agregar o editar Usuario</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card ">
                    <div class="card-header" style="background-color: #d9fae9;">
                        <h3 class="card-title"><br> Datos de la Usuario</h3>
                    </div>
                    <form [formGroup]="forma" (ngSubmit)="guardar()">
                        <div class="card-body">

                            <div class="form-group">
                                <label for="nombre">Nombre</label>
                                <input type="text" name="nombre" [class.is-invalid]="nombreNoValido" formControlName="nombre" class="form-control" id="nombre" placeholder="Nombre de usuario">
                                <small *ngIf="nombreNoValido" class="form-text text-danger"><i
                class="fa fa-exclamation-triangle"></i>El campo Nombre es requerido
        </small>
                            </div>
                            <div class="form-group">
                                <label for="id_puesto"> puesto</label>
                                <select formControlName="id_puesto" name="id_puesto" id="id_puesto" [class.is-invalid]="id_puestoNoValido" class="form-control">
            <option *ngFor="let item of  puesto" [value]="item.id_puesto"
                selected>{{item.descripcion}}</option>
        </select>
                                <small *ngIf="id_puestoNoValido" class="form-text text-danger"><i
                class="fa fa-exclamation-triangle"></i>El campo puesto es requerido
        </small>
                            </div>
                            <div class="form-group">
                                <label for="usuario">Usuario</label>
                                <input type="text" name="usuario" [class.is-invalid]="usuarioNoValido" formControlName="usuario" class="form-control" id="usuario" placeholder="Usuario de usuario">
                                <small *ngIf="usuarioNoValido" class="form-text text-danger"><i
                class="fa fa-exclamation-triangle"></i>El campo Usuario es requerido
        </small>
                            </div>
                            <div class="form-group">
                                <label for="clave">Clave</label>
                                <input type="text" name="clave" [class.is-invalid]="claveNoValido" formControlName="clave" class="form-control" id="clave" placeholder="Clave de usuario">
                                <small *ngIf="claveNoValido" class="form-text text-danger"><i
                class="fa fa-exclamation-triangle"></i>El campo Clave es requerido
        </small>
                            </div>
                            <div class="form-group">
                                <label for="titulo">Titulo</label>
                                <input type="text" name="titulo" [class.is-invalid]="tituloNoValido" formControlName="titulo" class="form-control" id="titulo" placeholder="Titulo de usuario">
                                <small *ngIf="tituloNoValido" class="form-text text-danger"><i
                class="fa fa-exclamation-triangle"></i>El campo Titulo es requerido
        </small>
                            </div>


                            <div class="form-group">
                                <label for="tipo_usuario">Tipo de Usuario</label>
                                <select formControlName="tipo_usuario" name="tipo_usuario" id="tipo_usuario" [class.is-invalid]="tipo_usuarioNoValido" class="form-control">
            <option value="ADM" selected>Administrativo</option>
            <option value="USR">Secretaria</option>
        </select>
                                <small *ngIf="tipo_usuarioNoValido" class="form-text text-danger"><i
                class="fa fa-exclamation-triangle"></i>El campo Tipo usuario  es requerido
        </small>
                            </div>

                            <div class="form-group">
                                <label for="direccion">Estado</label>
                                <select formControlName="estado" name="estado" id="estado" [class.is-invalid]="estadoNoValido" class="form-control">
                                    <option value="A" selected>Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                                <small *ngIf="estadoNoValido" class="form-text text-danger"><i
                                        class="fa fa-exclamation-triangle"></i>El campo estado es requerido
                                </small>
                            </div>

                        </div>
                        <div class="card-footer">
                            <div class="col">

                                <button routerLink="/dashboard/usuario" class="btn btn-secondary mr-1 mb-1 waves-effect waves-light">
                                    <i class="fa fa-window-close"></i>
                                    Cancelar
                                </button>

                                <button type="submit" class="btn btn-info mr-1 mb-1 waves-effect waves-light">
                                    <i class="fa fa-save"></i>
                                    Guardar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>